[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "*"
ipykernel = "*"
kafka-python = "*"
pandas = "*"
pyspark = "3.5.1"

[requires]
python_version = "3.11"
